@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@font-face {
   font-family: digital-7mono;
   src: url(fonts/digital-7\ \(mono\).ttf);
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   color: #9A3B3B;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

header,
footer {
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

label,
input {
   text-align: center;
   font-size: larger;
}

#input-temp {
   min-width: auto;
   max-width: 220px;
   width: 50%;
   border: 3px solid #E2C799;
   padding: 16px;
}

#input-temp::-webkit-inner-spin-button,
#input-temp::-webkit-outer-spin-button {
   -webkit-appearance: none;
   appearance: none;
}

#temp-result {
   min-height: 60px;
}

.content {
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.app-container {
   display: flex;
   flex-direction: column;
   gap: 32px;
   width: calc(100%/3);
   padding: 32px;
   justify-content: center;
   align-items: center;
   min-width: 284px;
   min-height: 350px;
   border: 12px solid #9A3B3B;
   border-radius: 12px;
}

.app-container > * {
   min-width: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.temp-buttons-container {
   display: flex;
   gap: 4px;
   justify-content: space-evenly;
}

.buttons-column {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.buttons-column > * {
   display: flex;
   justify-content: center;
   align-items: center;
}

.temp-format-button {
   flex: 1 1 0;
   padding: 8px 16px;
   background-color: #E2C799;
   border: 3px solid #F2ECBE;
   font-weight: bolder;
   border-radius: 3px;
   transition: transform 0.2s ease, border 0.2s ease, background-color 0.2s ease;
}

.selected {
   border: 3px solid #E2C799;
   background-color: #F2ECBE;
   transform: scale(1.1);
}

/* DEBUGGING */

body > * {
   /* border: 2px solid red; */
}

.app-container {
   /* border: 2px solid red; */
}

.app-container > * {
   /* border: 2px solid red; */
}

.temp-buttons-container {
   /* border: 2px solid red; */
}

.temp-buttons-container > * {
   /* border: 2px solid blue; */
}